<!--
 *  add.ejs
 *   
 *  Date: 11/12/2025 
 *
 * @author Martin Olaru, x24528929
 *@reference https://moodle2025.ncirl.ie/course/section.php?id=36540
-->
<!DOCTYPE html>
<html lang="en">
  <!--Include the head-->
  <%- include("./partials/head.ejs") %>
  <body>
    <!--Include the nav-->
    <%- include ("./partials/nav.ejs") %>
    <div class="container">
      <div class="row">
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto">
          <div class="card text-center">
            <div class="card-body mx-auto">
              <!-- section that pops up normally and disappears when edit is clicked-->
              <div id="viewGame">
                <h3 class="title">Game details</h3>
                <h2 class="editTitle"><%= game.title %></h2>
                <p class="edit">Year Made: <%= game.yearMade %></p>
                <p class="edit">Genre: <%= game.genre %></p>
                <p class="edit">Studio: <%= game.studio %></p>
                <p class="edit">Country: <%= game.country %></p>
                <p class="edit">Launch Price: <%= game.launchPrice %></p>
                <p class="edit">Created on: <%= game.createdAt %></p>
                <p class="edit">Updated on: <%= game.updatedAt %></p>
                <button id="editBtn">Edit Game</button>
                <button id="deleteBtn" data-id="<%=game._id%>">
                  Delete Game
                </button>
              </div>
              <!-- section that shows once edit is clicked-->
              <div id="editGame" hidden>
                <h3 class="title">edit Game details</h3>
                <!-- This sends the id and form back to the app-->
                <form action="/<%= game._id %>" method="post">
                  <label class="addLbl">Title</label><br />
                  <input
                    type="text"
                    required
                    name="title"
                    id=""
                    value="<%= game.title %>"
                  /><br />
                  <label class="addLbl">Year Made</label><br />
                  <input
                    type="number"
                    required
                    name="yearMade"
                    id=""
                    value="<%= game.yearMade %>"
                  /><br />
                  <label class="addLbl">Genre</label><br />
                  <input
                    type="text"
                    required
                    name="genre"
                    id=""
                    value="<%= game.genre %>"
                  /><br />
                  <label class="addLbl">Studio</label><br />
                  <input
                    type="text"
                    required
                    name="studio"
                    id=""
                    value="<%= game.studio %>"
                  /><br />
                  <label class="addLbl">Country</label><br />
                  <input
                    type="text"
                    required
                    name="country"
                    id=""
                    value="<%= game.country %>"
                  /><br />
                  <label class="addLbl">Launch Price</label><br />
                  <input
                    type="number"
                    required
                    name="launchPrice"
                    id=""
                    value="<%= game.launchPrice %>"
                  /><br />
                  <br />
                  <button id="saveBtn">Save Game</button>
                </form>
              </div>
              <!--Include the footer-->
              <%-include("./partials/footer.ejs") %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
      </div>
    </div>

    <script>
      //@reference https://moodle2025.ncirl.ie/course/section.php?id=36540
      //This is the logic behind the buttons
      const deleteBtnElement = document.getElementById("deleteBtn");
      const viewGameDivElement = document.getElementById("viewGame");
      const editGameDivElement = document.getElementById("editGame");
      const editBtnElement = document.getElementById("editBtn");
      const saveBtnElement = document.getElementById("saveBtn");
      //to delete a game
      deleteBtnElement.addEventListener("click", (e) => {
        const backEndPoint = `/${deleteBtnElement.dataset.id}`;
        fetch(backEndPoint, { method: "DELETE" })
          .then((response) => response.json())
          //after deleted it redirects you to main page
          .then(
            (responseJson) => (window.location.href = responseJson.redirect)
          )
          .catch((error) => console.log(error));
      });
      //this is to edit a game, makes one form show and hides another
      editBtnElement.addEventListener("click", (e) => {
        viewGameDivElement.style.display = "none";
        editGameDivElement.removeAttribute("hidden");
        editGameDivElement.style.display = "block";
      });
      //makes the view game form show again and also posts the new details to database
      saveBtnElement.addEventListener("click", (e) => {
        viewGameDivElement.style.display = "block";
        editGameDivElement.style.display = "none";
      });
    </script>
  </body>
</html>
