<!DOCTYPE html>
<html lang="en">
  <!--Include the head-->
  <%- include ("./partials/head.ejs") %>
  <body>
    <!--Include the nav-->
    <%- include ("./partials/nav.ejs") %>
    <div class="container">
      <div class="row">
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto">
          <div class="card text-center">
            <div class="card-body mx-auto">
              <h1 class="title">Welcome to my GameLibrary App website!</h1>
              <h3 class="title">My Games added so far...</h3>
              <!--This is to display each game in the database, reference @eugene slides-->
              <% if (games.length) { games.forEach(game=> { %>
              <a class="mainGame" href="/game/<%=game._id %>">
                <h2><%= game.title%></h2>
                <p class="mainLbl">Year Made: <%= game.yearMade%></p>
                <p class="mainLbl">Genre: <%= game.genre%></p>
                <p class="mainLbl">Studio: <%= game.studio%></p>
                <p class="mainLbl">Country: <%= game.country%></p>
                <p class="mainLbl">Launch Price: €<%= game.launchPrice%></p>
              </a>
              <hr />
              <!--If there is no games, this will be the message displayed-->

              <% }); }else {%>
              <p>Sorry, there are no games yet..</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Include the footer-->
    <% }%> <%- include ("./partials/footer.ejs") %>
  </body>
</html>
